    <div class="menu" th:fragment="menu">
        <div class="menu-logo">
            <img src="img/logo.png" alt="">
        </div>
        <p>驾考在线服务平台</p>
        <ul>
            <li class="father">
                <a href="javascript:void(0);">
                    <img src="img/record.png" alt="">
                    <span>预录入</span>
                </a>
                <ul class="child" style="display: none;">
                    <li><span></span>学员信息录入</li>
                    <li onclick="window.location.href='students'"><span></span>查询录入信息</li>
                </ul>
            </li>
        </ul>
    </div>