<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/lib/lui/css/layui.css}">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<fieldset class="layui-elem-field" style="margin-top: 10px;">
    <div class="site-text site-block" style="margin-top: 10px;">
        <div class="layui-row">
            <div class="layui-col-xs8">
                <div class="grid-demo grid-demo-bg1">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">查询</label>
                            <div class="layui-input-block">
                                <input type="text" name="filter" id="filter" placeholder="查询内容" class="layui-input">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo">
                    <div class="layui-input-block">
                        <button class="layui-btn" onclick="filter()">查询</button>
                        <button class="layui-btn" onclick="add()">新增</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<table id="studentTable" class="layui-table" lay-data="{cellMinWidth: 80, page: true, limit:10,url:'data'}" lay-filter="courseTable">
    <thead>
    <tr>
        <th lay-data="{field:'id',type:'checkbox'}">ID</th>
        <th lay-data="{field:'userName', sort: true}">账户</th>
        <th lay-data="{field:'nickName',sort: true}">姓名</th>
        <th lay-data="{toolbar: '#role'}">角色</th>
        <th lay-data="{field:'status',templet:'#Tlstatus'}">状态</th>
        <th lay-data="{field:'state',templet:'#Tlstate'}">是否启用</th>
        <th lay-data="{field:'expiretime',sort: true}">过期日期</th>
        <th lay-data="{field:'createtime',sort: true}">创建日期</th>
        <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#operation'}">操作</th>
    </tr>
    </thead>
</table>

<script id="operation" type="text/html">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
</script>
<script id="role" type="text/html">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="role">角色</a>
</script>
<script id="Tlstate" type="text/html">
            {{#
			if(d.state == 1){ }}
			     <span>启用</span>
 				 {{#   }
			else if(d.state == 0){ }}
			     <span>未启用</span>
 				 {{#   }
            }}
</script>
<script id="Tlstatus" type="text/html">
    <!-- 0-离职 1-公出  2-出差 3-事假  4-病假 5-其他假  10-在职
    -->
            {{#
			    if(d.status == 0){ }}
			     <span>离职</span>
                {{#   }
			    else if(d.status == 1){ }}
			     <span>公出</span>
 				 {{#   }
                else if(d.status == 2){ }}
                <span>出差</span>
                {{#   }
                else if(d.status == 3){ }}
                <span>事假</span>
                {{#   }
                else if(d.status == 4){ }}
                <span>病假</span>
                {{#   }
                else if(d.status == 5){ }}
                <span>其他假</span>
                {{#   }
                else if(d.status == 10){ }}
                <span>在职</span>
                {{#   }
            }}
</script>

<script th:src="@{/lib/jquery/jquery.js}"></script>
<script th:src="@{/lib/lui/layui.all.js}"></script>

<script type="text/javascript">
    var table = layui.table;
    var layer = layui.layer;

    var iframeWin = null;

    function openWin(title,isShow,id){
        var url = 'system/user/edit';
        if(!!id){
            url += "?id="+id;
            if(isShow){
                url += "&flag=2";
            }else{
                url += "&flag=1";
            }
        }else{
            url += "?flag=0";
        }
        var option = {
            type: 2,
            title:[title,"color:green"],
            success: function(layero, index){
                iframeWin = parent.window[layero.find('iframe')[0]['name']]; 
            },
            content: url,
            area:['800px','600px']
        };
        var btn = ['保存','关闭'];
        var okFun = function(){
            parent.layer.close(index);
        } ;
        if(isShow){
            btn = ['关闭']
        }
        if(btn.length > 1){
            okFun = function(){
                if(iframeWin != null){
                    iframeWin.doSave(function(){
                        parent.layer.close(index);
                        // 刷新table数据
                        table.reload("studentTable");
                    });
                }
            };
            option['btn2'] = function(){parent.layer.close(index);}
        }
        option['btn'] = btn;
        option['yes'] = okFun ;
        var index = parent.layer.open(option);
    }

    function add(){
        openWin("新增",false);
    }
    //table点击事件
    table.on("tool(courseTable)",function(obj){
        var data = obj.data;
        if(obj.event === 'detail'){
            openWin("查看",true,data.id);
        } else if(obj.event === 'del'){
            parent.layer.confirm('确定删除？', function(index){
                parent.layer.close(index);
                $.ajax("del?id="+data.id,{
                    method:"delete",
                   contentType:"application/json;charset=utf-8",
                   success:function(data){
                        if(data){
                            parent.tips(1, "删除成功！");
                            table.reload("studentTable");

                        }else{
                            parent.tips(0, "删除失败！");
                        }
                   },
                    error:function(e){
                        parent.tips(0, "删除失败！");
                    }
                });

            });
        } else if(obj.event === 'edit'){
            openWin("编辑",false,data.id);
        }else if(obj.event==='role'){
            openWin("角色",true,data.id);
        }
    });

    function filter(){
        var val = $("#filter").val();
        if($.trim(val) != ""){
            table.reload("studentTable",{
                where:{filter:val}
            })
        }
    }
</script>

</body>
</html>